/* PROFILES */

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: rgba(67, 68, 67, 0.82);
    color: #fffbfb;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: black;
    will-change: left, right;
}

.tabs .tab a {
    color: black;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}


/* EXCHANGE ZONE */

.inter{
  height: 300px;
  border: 1px solid;
  border-radius: 25px;
  padding-top: 1em;
}

.sub-inter{
  margin-bottom: 10px;
  width: 100%;
	height: 75px;
	border-radius: 15px;

}

#modal1{
	max-height: 80%;
}

#button-modal-footer {
  float: none;
}
